@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  background-image:url(../images/img1.jpg);
	font-family:  'Bai Jamjuree', sans-serif;
	color: white;
}

#regForm {
  background-color: rgba(0,47,183,0.74);
  margin: 100px auto;
  
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #FDCACA;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
/*
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
*/
  
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #D05355;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ED0A0E;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


select
{
	padding: 10px;
  width: 100%;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #aaaaaa;
	
}